<header class="header">
    <a href="/" class="header__logo">NodeJs</a>
    
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/">??</a>
            </li>
        </ul>

    </nav>

    <div class="header__button">
        <a href="/admin" style="text-decoration: none;">
            <button class="searchBtn" aria-expanded="false">
                Login
            </button>
        </a>
    </div>
</header>